@tailwind base;

@layer base {
  html {
    @apply text-neutral-800;
  }

  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;

code {
  @apply text-red-600 dark:text-red-400;
}

p {
  @apply leading-[1.6];
}

.dark .data-den-grid {
  --data-den-cell-border: solid var(--data-den-cell-border-width) rgb(82 82 82);
  --data-den-cell-bg: rgb(64 64 64);
  --data-den-cell-hover-bg: rgb(82 82 82);
  --data-den-cell-active-bg: rgb(38 38 38);
  --data-den-header-cell-bg: rgb(38 38 38);
  --data-den-header-menu-dropdown-bg: rgb(64 64 64);
  --data-den-header-menu-dropdown-border: solid 1px rgb(82 82 82);
  --data-den-header-menu-dropdown-item-hover-bg: rgb(82 82 82);
  --data-den-header-menu-dropdown-item-color: rgb(229 229 229);
  --data-den-header-cell-active-bg: rgb(38 38 38);
  --data-den-row-stripped-bg: rgb(38 38 38);
}
