[class^='data-den'] {
  box-sizing: border-box;
}

.#{$prefix}grid {
  border: var(--#{$prefix}grid-border);
  position: relative;
  line-height: normal;
  font-family: var(--#{$prefix}grid-font-family);
  font-size: var(--#{$prefix}grid-font-size);
  border-radius: var(--#{$prefix}grid-border-radius);
  overflow: hidden;
  &.#{$prefix}resizing {
    & > *,
    .#{$prefix}header-cell-draggable,
    .#{$prefix}header-menu-toggler {
      cursor: col-resize;
    }
  }
  &.#{$prefix}dragging {
    & > *,
    .#{$prefix}header-resizer,
    .#{$prefix}header-cell {
      cursor: pointer;
    }
  }
}

.#{$prefix}grid-main {
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;
}
