.#{$prefix}header {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  position: relative;
  height: var(--#{$prefix}header-height);
  z-index: 10;
}

.#{$prefix}header-row {
  width: 100%;
}

.#{$prefix}header-row-draggable {
  .#{$prefix}header-cell-draggable {
    cursor: pointer;

    &.#{$prefix}dragging {
      transition: left 0.2s;
      user-select: none;
    }
  }
}

.#{$prefix}header-sorter {
  margin-left: var(--#{$prefix}header-sorter-margin-left);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .#{$prefix}header-sorter-arrow:after {
    color: var(--#{$prefix}header-sorter-arrow-sorted-color);
  }

  .#{$prefix}header-sorter-arrow {
    &:after {
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: '';
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
      cursor: pointer;
      color: var(--#{$prefix}header-sorter-arrow-unsorted-color);
      transform: var(--#{$prefix}header-sorter-asc-transform);
    }

    &.#{$prefix}header-sorter-arrow-asc:after {
      color: var(--#{$prefix}header-sorter-arrow-sorted-color);
    }

    &.#{$prefix}header-sorter-arrow-desc:after {
      color: var(--#{$prefix}header-sorter-arrow-sorted-color);
      transform: var(--#{$prefix}header-sorter-desc-transform);
    }
  }
}

.#{$prefix}header-filter {
  display: block;
  margin: var(--#{$prefix}header-filter-input-margin);

  .#{$prefix}header-filter-input {
    width: var(--#{$prefix}header-filter-input-width);
  }
}

.#{$prefix}header-resizer {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  height: 100%;
  width: 6px;
  cursor: col-resize;

  &:hover {
    background-color: #ccc;
  }
}
.#{$prefix}header-resizer-left {
  left: 0;
  right: auto;
}

.#{$prefix}header-left-cells-wrapper {
  display: flex;
  position: sticky;
  left: 0;
  float: left;
  z-index: 5;
  height: var(--#{$prefix}header-height);
  border-right: var(--#{$prefix}header-cell-border);
}

.#{$prefix}header-main-cells-wrapper {
  position: absolute;
  height: var(--#{$prefix}header-height);
  z-index: 0;
}

.#{$prefix}header-right-cells-wrapper {
  display: flex;
  position: sticky;
  right: 0;
  float: right;
  z-index: 5;
  height: var(--#{$prefix}header-height);
  border-right: var(--#{$prefix}header-cell-border);
}

.#{$prefix}header-cell {
  background-color: var(--#{$prefix}header-cell-bg);
  border: var(--#{$prefix}header-cell-border);
  border-right: $cell-border-transparent;
  border-bottom: $cell-border-transparent;
  display: flex;
  padding: 6px var(--#{$prefix}header-cell-padding-x);
  position: absolute;
  font-weight: 700;
  text-transform: uppercase;

  .#{$prefix}header-cell-value {
    display: flex;
    flex-direction: row;
  }
  &.#{$prefix}active {
    background-color: #fafafa;
    z-index: 2;
  }
}

.#{$prefix}header-cell-pinned-left {
  position: relative;
  float: left;
  background-color: rgb(245, 245, 245);
}

.#{$prefix}header-cell-pinned-right {
  position: relative;
  float: right;
  background-color: rgb(245, 245, 245);
}

.#{$prefix}header-menu-toggler {
  display: none;
  position: absolute;
  right: 6px;
  top: 0;
  height: 100%;
  width: 16px;
  margin: 0 4px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 10;
}

.#{$prefix}header-cell:hover {
  .#{$prefix}header-menu-toggler {
    display: block;
  }
}

.#{$prefix}header-menu-dropdown {
  position: absolute;
  right: 5px;
  top: 5px;
  margin-top: var(--#{$prefix}header-height);
  z-index: 3;
  width: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 4px 0;
  display: none;
  flex-direction: column;
  overflow: hidden;
  max-height: 200px;
  overflow-y: auto;
  font-size: 12px;
  padding: 8px;

  &.active {
    display: flex;
  }
}

.#{$prefix}header-menu-dropdown-item {
  padding: 4px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #333;

  &:hover {
    background-color: #eee;
  }
}
