.#{$prefix}grid-rows {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  position: relative;
}

.#{$prefix}row {
  width: 100%;

  &:hover .#{$prefix}cell {
    filter: brightness(0.95);
  }

  &:not(:last-child) .#{$prefix}cell {
    border-bottom: var(--#{$prefix}grid-row-cell-border);
  }
}

.#{$prefix}pinned-cells-wrapper {
  display: flex;
  position: sticky;
  z-index: 5;
  height: inherit;
}

.#{$prefix}pinned-cells-wrapper-left {
  left: 0;
  float: left;
}

.#{$prefix}pinned-cells-wrapper-right {
  right: 0;
  float: right;
}

.#{$prefix}main-cells-wrapper {
  position: absolute;
  height: inherit;
}

.#{$prefix}cell {
  padding: 0 var(--#{$prefix}row-cell-padding-x);
  position: absolute;
  background-color: var(--#{$prefix}row-cell-bg);
  height: inherit;
  display: flex;
  align-items: center;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.#{$prefix}active {
    background-color: var(--#{$prefix}cell-active-bg);
    z-index: 2;
  }
}

.#{$prefix}cell-draggable {
  &.#{$prefix}dragging {
    transition: left 0.2s;
    user-select: none;
  }
}

.#{$prefix}cell-pinned-left {
  position: relative;
  float: left;
}

.#{$prefix}cell-pinned-left:last-child {
  border-right: var(--#{$prefix}cell-pinned-border);
}

.#{$prefix}cell-pinned-right {
  position: relative;
  float: right;
}

.#{$prefix}cell-pinned-right:first-child {
  border-left: var(--#{$prefix}cell-pinned-border);
}
