:root {
  --data-den-header-cell-bg: inherit;
  --data-den-grid-row-cell-border: none;
}

.data-den-header {
  border: none;
}

.data-den-header-row .data-den-header-cell {
  border: none;
  border-bottom: var(--data-den-header-cell-border);
  font-weight: 700;
}

.data-den--row .data-den-cell {
  border: none;
  border-bottom: var(--data-den-row-cell-border);
}

.data-den-pagination-content > button {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  cursor: pointer;
}
.data-den-pagination-content > button:nth-child(2),
.data-den-pagination-content > button:last-of-type {
  margin-left: 0.25rem;
}

/* search */
#search-section .data-den-quick-filter-input {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.25rem;
}
/* search */

/* Fixed Header, scroll */
#fixed-header-section .scroll-wrapper,
#scroll-section .scroll-wrapper {
  overflow-y: scroll;
  height: 200px;
}
#fixed-header-section .data-den-header {
  position: sticky !important;
  top: 0;
  z-index: 1;
}
/* Fixed Header, scroll  */

/* Hoverable rows */
#hovereable-row-section .data-den--row:hover > .data-den-cell {
  background-color: #eceaea;
}
/* Hoverable rows */
