.data-den-header {
  --#{$prefix}header-height: #{$header-height};
  --#{$prefix}header-cell-border: #{$header-cell-border};

  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  position: relative;
  height: var(--#{$prefix}header-height);
  border-right: var(--#{$prefix}header-cell-border);
}

.data-den-header-row {
  display: flex;
  width: 100%;

  .data-den-header-cell {
    --#{$prefix}header-cell-bg: #{$header-cell-bg};
    --#{$prefix}header-cell-border: #{$header-cell-border};
    --#{$prefix}header-cell-padding-x: #{$header-cell-padding-x};

    background-color: var(--#{$prefix}header-cell-bg);
    border: var(--#{$prefix}header-cell-border);
    border-right: $cell-border-transparent;
    display: flex;
    padding: 6px var(--#{$prefix}header-cell-padding-x);
    position: absolute;

    .data-den-header-cell-value {
      display: flex;
      flex-direction: row;
    }
    &.active {
      background-color: #fafafa;
    }
  }
}

.data-den-header-row-draggable {
  cursor: pointer;
}

.data-den-header-cell-draggable {
  &.dragging {
    transition: left 0.2s;
    user-select: none;
  }
}

.data-den-header-sorter {
  --#{$prefix}header-sorter-margin-left: #{$header-sorter-margin-left};

  margin-left: var(--#{$prefix}header-sorter-margin-left);
  display: flex;
  justify-content: center;
  align-items: center;

  .data-den-header-sorter-arrow {
    --#{$prefix}header-sorter-arrow-sorted-color: #{$header-sorter-arrow-sorted-color};
    --#{$prefix}header-sorter-arrow-unsorted-color: #{$header-sorter-arrow-unsorted-color};
    --#{$prefix}header-sorter-asc-transform: #{$header-sorter-asc-transform};
    --#{$prefix}header-sorter-desc-transform: #{$header-sorter-desc-transform};

    &:after {
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: '';
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
      color: var(--#{$prefix}header-sorter-arrow-unsorted-color);
      transform: var(--#{$prefix}header-sorter-asc-transform);
    }

    &.data-den-header-sorter-arrow-asc:after {
      color: var(--#{$prefix}header-sorter-arrow-sorted-color);
    }

    &.data-den-header-sorter-arrow-desc:after {
      color: var(--#{$prefix}header-sorter-arrow-sorted-color);
      transform: var(--#{$prefix}header-sorter-desc-transform);
    }
  }
}

.data-den-header-filter {
  display: block;

  .data-den-header-filter-input {
    --#{$prefix}header-filter-input-margin: #{$header-filter-input-margin};
    --#{$prefix}header-filter-input-width: #{$header-filter-input-width};

    margin: var(--#{$prefix}header-filter-input-margin);
    width: var(--#{$prefix}header-filter-input-width);
  }
}

.data-den-header-resizer {
  position: absolute;
  z-index: 100;
  right: -5px;
  top: 0;
  height: 100%;
  width: 10px;
  cursor: col-resize;

  &:hover {
    background-color: #ccc;
  }
}
